.img-home {
    color: blanchedalmond;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupará toda la altura de la pantalla */
    display: flex;
    justify-content: center;
  }