* {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: yellow;
}

/* Estilos generales de tu aplicación */
.container-principal {
  /* Resto de estilos existentes */
  max-width: 100%;
  margin: 0 auto;
}

/* Estilos para dispositivos pequeños, medianos y grandes */
@media (max-width: 768px) {
  .container-principal {
    background-color: #dd3f3f; /* Color de fondo para dispositivos pequeños */
    color: #333; /* Color de texto para dispositivos pequeños */
  }

  /* Ajusta otros estilos según sea necesario para dispositivos pequeños */

  /* Corrección específica para la página /skills en dispositivos pequeños */
  .myskills-list {
    max-width: 100%; /* Asegura que los elementos no excedan el ancho de la pantalla */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .myskills-item {
    width: auto; /* Permite que los elementos se ajusten al contenido */
    margin: 10px 0; /* Espacio vertical entre elementos */
  }
}

@media (min-width: 769px) {
  .container-principal {
    background-color: #dd3f3f; /* Color de fondo para dispositivos medianos y grandes */
    color: #333; /* Color de texto para dispositivos medianos y grandes */
  }

  /* Ajusta otros estilos según sea necesario para dispositivos medianos y grandes */
}


    