* {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: yellow;
}

/* Estilos generales de tu aplicación */
.container-principal {
  /* Resto de estilos existentes */
  max-width: 100%;
  margin: 0 auto;
}

/* Estilos para dispositivos pequeños, medianos y grandes */
@media (max-width: 768px) {
  .container-principal {
    background-color: #e42727; /* Color de fondo para dispositivos pequeños */
    color: #333; /* Color de texto para dispositivos pequeños */
  }

  /* Ajusta otros estilos según sea necesario para dispositivos pequeños */
}

@media (min-width: 769px) {
  .container-principal {
    background-color: #e42727; /* Color de fondo para dispositivos medianos y grandes */
    color: #333; /* Color de texto para dispositivos medianos y grandes */
  }

  /* Ajusta otros estilos según sea necesario para dispositivos medianos y grandes */
}

    